html, body {
	height: 100%;
	width: 100%;
	padding: 0;
	margin: 0;
	font-family: 'Helvetica Neue', arial, sans-serif;
	font-weight: 400;
	color: #ffffff;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

* {
	box-sizing: border-box;
}
*:focus {
	outline: none;
}

#app {
	height: 100%;
}

.navbar-default {
	justify-content: center;
	text-align: center;
}
.nav-item {
	color: white;
	font-size: 30px;
}
.nav-brand {
	position: absolute;
}
.info:visited {
	text-decoration: inherit;
	color: inherit;
	cursor: auto;
}
.info:link {
	text-decoration: inherit;
	color: inherit;
	cursor: auto;
}
